include "BasePlugin.include"
include "BaseModulePlugin.include"
include "AcpcPlugin_v144.generated"
include "AcpcPlugin.include"
include "GlobalConD.include"

record(longin, "$(P)HwVer")
{
    field(HIGH, "3")
    field(LOW,  "1")
}
record(longin, "$(P)HwRev")
{
    field(HIGH, "7")
    field(LOW,  "5")
}
record(longin, "$(P)FwVer")
{
    field(HIGH, "15")
    field(LOW,  "13")
}
record(longin, "$(P)FwRev")
{
    field(HIGH, "5")
    field(LOW,  "3")
}
