include "BasePlugin.include"
include "BaseModulePlugin.include"
include "ArocPlugin_v23.generated"
include "ArocPlugin.include"
include "GlobalConD.include"

record(stringin, "$(P)PluginId")
{
    field(VAL,  "ArocPlugin_v23")
}
