include "BasePlugin.include"

record(mbbo, "$(P)DataFormat")
{
    field(ASG,  "BEAMLINE")
    field(DESC, "Default data format")
    field(DTYP, "asynInt32")
    field(OUT,  "@asyn($(PORT))DataFormat")
    field(VAL,  "1")
    field(ZRVL, "1")
    field(ZRST, "meta")
    field(ONVL, "2")
    field(ONST, "neutron pixel")
    field(TWVL, "3")
    field(TWST, "neutron XY")
    field(THVL, "4")
    field(THST, "neutron XY PS")
    field(FRVL, "16")
    field(FRST, "LPSD raw")
    field(FVVL, "17")
    field(FVST, "LPSD verbose")
    field(SXVL, "18")
    field(SXST, "ACPC raw")
    field(SVVL, "19")
    field(SVST, "ACPC verbose")
    field(EIVL, "20")
    field(EIST, "AROC raw")
    field(NIVL, "21")
    field(NIST, "BNL raw")
    field(TEVL, "22")
    field(TEST, "BNL verbose")
    field(ELVL, "23")
    field(ELST, "CROC raw")
    field(TVVL, "24")
    field(TVST, "CROC verbose")
}
