include "BasePlugin.include"
include "BaseModulePlugin.include"
include "DspPlugin_v80.generated"
include "DspPlugin8.include"
include "GlobalConD.include"
include "TimeSync.include"

record(stringin, "$(P)PluginId")
{
    field(VAL,  "DspPlugin_v80")
}

record(mbbo, "$(P)CmdReq")
{
    field(TVVL, "129")
    field(TVST, "Down reset")
    field(TTVL, "39")
    field(TTST, "Down reset LVDS")
}

# Upgraded HwStatus record
record(calc, "$(P)HwStatus")
{
    field(INPF, "$(P)TS:State.SEVR CP")
}

