include "BasePlugin.include"

record(stringout, "$(P)FilePath")
{
    field(ASG,  "BEAMLINE")
    field(DTYP, "asynOctetWrite")
    field(OUT,  "@asyn($(PORT))FilePath")
}
record(bo, "$(P)RtdlPktsEn")
{
    info(autosaveFields, "VAL")
    field(ASG,  "BEAMLINE")
    field(DTYP, "asynInt32")
    field(OUT,  "@asyn($(PORT))RtdlPktsEn")
    field(PINI, "YES")
    field(ZNAM, "disabled")
    field(ONAM, "enabled")
}
record(bo, "$(P)NeutronPktsEn")
{
    info(autosaveFields, "VAL")
    field(ASG,  "BEAMLINE")
    field(DTYP, "asynInt32")
    field(OUT,  "@asyn($(PORT))NeutronPktsEn")
    field(PINI, "YES")
    field(ZNAM, "disabled")
    field(ONAM, "enabled")
}
record(bo, "$(P)MetadataPktsEn")
{
    info(autosaveFields, "VAL")
    field(ASG,  "BEAMLINE")
    field(DTYP, "asynInt32")
    field(OUT,  "@asyn($(PORT))MetadataPktsEn")
    field(PINI, "YES")
    field(ZNAM, "disabled")
    field(ONAM, "enabled")
}
record(bo, "$(P)CmdPktsEn")
{
    info(autosaveFields, "VAL")
    field(ASG,  "BEAMLINE")
    field(DTYP, "asynInt32")
    field(OUT,  "@asyn($(PORT))CmdPktsEn")
    field(PINI, "YES")
    field(ZNAM, "disabled")
    field(ONAM, "enabled")
}
record(bo, "$(P)UnknwnPktsEn")
{
    info(autosaveFields, "VAL")
    field(ASG,  "BEAMLINE")
    field(DTYP, "asynInt32")
    field(OUT,  "@asyn($(PORT))UnknwnPktsEn")
    field(PINI, "YES")
    field(ZNAM, "disabled")
    field(ONAM, "enabled")
}

