include "BasePlugin.include"

record(longin, "$(P)StatusRaw")
{
    field(DTYP,  "asynInt32")
    field(INP,   "@asyn($(PORT))Status")
    field(SCAN,  "I/O Intr")
    field(PINI,  "YES")
    field(FLNK,  "$(P)StatusCalc PP")
}
record(calcout, "$(P)StatusCalc")
{
    field(INPA, "$(P)StatusRaw NPP")
    field(CALC, "A=0?1:A=1||A=2?0:2")
    field(OUT,  "$(P)Status PP")
}
record(longin, "$(P)Status")
{
    field(DESC, "Global PvaNeutrons status")
    field(INP,  "$(P)StatusCalc PP NMS")
    field(PINI, "YES")
    field(FLNK, "$(P)StatusText")
}
record(mbbi, "$(P)StatusTextCalc")
{
    field(INP,  "$(P)StatusRaw NPP")
    field(ZRVL, "0")
    field(ZRST, "Ready")
    field(ONVL, "1")
    field(ONST, "Config error")
    field(ONSV, "MAJOR")
    field(TWVL, "2")
    field(TWST, "Init error")
    field(TWSV, "MAJOR")
    field(THVL, "3")
    field(THST, "Send error")
    field(THSV, "MINOR")
}
record(stringin, "$(P)StatusText")
{
    field(DESC, "Global PvaNeutrons status text")
    field(INP,  "$(P)StatusTextCalc PP MSS")
}

record(stringin, "$(P)PvaName")
{
    field(DTYP, "asynOctetRead")
    field(INP,  "@asyn($(PORT))PvaName")
    field(PINI, "YES")
    field(SCAN, "Passive")
}
