record(longin, "$(P)$(CNT)")
{
   field(DTYP,  "asynInt32")
   field(INP,   "@asyn($(PORT))$(CNT)")
   field(VAL,   "0")
   field(SCAN,  "Passive")
}
record(calc, "$(P)$(RATE)")
{
   field(INPA,  "$(P)$(CNT) NPP")
   field(INPB,  "$(P)$(CNT) PP")
   field(CALC,  "B-A")
   field(EGU,   "pkt/s")
   field(VAL,   "0")
   field(SCAN,  "1 second")
}
